/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/uploads/*
!/storage/app/uploads/.gitkeep
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
database/database.sqlite
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
